body {
  font-family: "Inter", sans-serif;
}

.bg-brand {
  background: #2eb67d;
}

.bg-brand-45 {
  background: #d5f4e7;
}

.bg-brand-40 {
  background: #c1efdc;
}

.r-0 {
  right: 0;
}

.hero h1 {
  font-weight: 800;
}

.hero .btn-lg {
  padding: 0.5rem 2rem;
  background-color: #f043ae;
  border-radius: 2rem;
}

a.text-light:focus,
a.text-light:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.grid-wrapper {
  display: grid;
  gap: 1.5rem;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(auto, 350px));
  grid-template-rows: auto;
}

.navbar-collapse {
  margin: 0 -1rem;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  width: 100%;
}

.nav-item.dropdown {
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  border-radius: 2rem;
}

input[type="search"] {
  border-radius: 2rem;
}

.search-bttn {
  padding: 0.375rem 1rem;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 2rem;
}

.search-bttn img {
  width: 80%;
}

.card .card-body:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card .card-body:last-child a {
  color: inherit;
}

.bg-img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsInZhcmlhYmxlcy9jb2xvcnMuc2NzcyIsImdlbmVyYWwvbGF5b3V0LnNjc3MiLCJjb21wb25lbnRzL25hdmlnYXRpb24uc2NzcyIsImNvbXBvbmVudHMvZ2FsbGVyeS5zY3NzIiwiZ2VuZXJhbC9sZy1taW4tOTkyLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcInZhcmlhYmxlcy9jb2xvcnMuc2Nzc1wiO1xyXG5AaW1wb3J0IFwiZ2VuZXJhbC9sYXlvdXQuc2Nzc1wiO1xyXG5AaW1wb3J0IFwiY29tcG9uZW50cy9uYXZpZ2F0aW9uLnNjc3NcIjtcclxuQGltcG9ydCBcImNvbXBvbmVudHMvZ2FsbGVyeS5zY3NzXCI7XHJcbkBpbXBvcnQgXCJnZW5lcmFsL2xnLW1pbi05OTIuc2Nzc1wiO1xyXG4iLCIkY29sb3ItYnJhbmQ6ICMyZWI2N2Q7XHJcbiRjb2xvci1zZWNvbmRhcnk6ICNmMDQzYWU7XHJcbiIsImJvZHkge1xyXG4gIGZvbnQtZmFtaWx5OiBcIkludGVyXCIsIHNhbnMtc2VyaWY7XHJcbn1cclxuLmJnLWJyYW5kIHtcclxuICBiYWNrZ3JvdW5kOiAkY29sb3ItYnJhbmQ7XHJcbn1cclxuLmJnLWJyYW5kLTQ1IHtcclxuICBiYWNrZ3JvdW5kOiBsaWdodGVuKCRjb2xvci1icmFuZCwgNDUlKTtcclxufVxyXG4uYmctYnJhbmQtNDAge1xyXG4gIGJhY2tncm91bmQ6IGxpZ2h0ZW4oJGNvbG9yLWJyYW5kLCA0MCUpO1xyXG59XHJcbi5yLTAge1xyXG4gIHJpZ2h0OiAwO1xyXG59XHJcbi5oZXJvIHtcclxuICBoMSB7XHJcbiAgICBmb250LXdlaWdodDogODAwO1xyXG4gIH1cclxuICAuYnRuLWxnIHtcclxuICAgIHBhZGRpbmc6IDAuNXJlbSAycmVtO1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGNvbG9yLXNlY29uZGFyeTtcclxuICAgIGJvcmRlci1yYWRpdXM6IDJyZW07XHJcbiAgfVxyXG59XHJcbmEudGV4dC1saWdodDpmb2N1cyxcclxuYS50ZXh0LWxpZ2h0OmhvdmVyIHtcclxuICBjb2xvcjogcmdiYSgjZmZmLCAwLjc1KSAhaW1wb3J0YW50O1xyXG59XHJcbi5ncmlkLXdyYXBwZXIge1xyXG4gIGRpc3BsYXk6IGdyaWQ7XHJcbiAgZ2FwOiAxLjVyZW07XHJcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xyXG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KGF1dG8tZmlsbCwgbWlubWF4KGF1dG8sIDM1MHB4KSk7XHJcbiAgZ3JpZC10ZW1wbGF0ZS1yb3dzOiBhdXRvO1xyXG59XHJcbiIsIi5uYXZiYXItY29sbGFwc2Uge1xyXG4gIG1hcmdpbjogMCAtMXJlbTtcclxuICAvLyBiYWNrZ3JvdW5kLWNvbG9yOiBsaWdodGVuKCRjb2xvci1icmFuZCwgNTAlKTtcclxufVxyXG4ubmF2YmFyLW5hdiB7XHJcbiAgLmRyb3Bkb3duLW1lbnUge1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgfVxyXG59XHJcbi5uYXYtaXRlbSB7XHJcbiAgJi5kcm9wZG93biB7XHJcbiAgICBoZWlnaHQ6IGNhbGMoMS41ZW0gKyAwLjc1cmVtICsgMnB4KTtcclxuICAgIGJvcmRlcjogMXB4IHNvbGlkICNjZWQ0ZGE7XHJcbiAgICBib3JkZXItcmFkaXVzOiAycmVtO1xyXG4gIH1cclxufVxyXG5pbnB1dFt0eXBlPVwic2VhcmNoXCJdIHtcclxuICBib3JkZXItcmFkaXVzOiAycmVtO1xyXG59XHJcbi5zZWFyY2gtYnR0biB7XHJcbiAgcGFkZGluZzogMC4zNzVyZW0gMXJlbTtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMmMyYzJjO1xyXG4gIGJvcmRlcjogMXB4IHNvbGlkICMyYzJjMmM7XHJcbiAgYm9yZGVyLXJhZGl1czogMnJlbTtcclxuICBpbWcge1xyXG4gICAgd2lkdGg6IDgwJTtcclxuICB9XHJcbn1cclxuIiwiLmNhcmQge1xyXG4gIC5jYXJkLWJvZHk6bGFzdC1jaGlsZCB7XHJcbiAgICBib3JkZXItdG9wOiAxcHggc29saWQgcmdiYSgwLCAwLCAwLCAwLjEyNSk7XHJcbiAgICBhIHtcclxuICAgICAgY29sb3I6IGluaGVyaXQ7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcbi5iZy1pbWcge1xyXG4gIGhlaWdodDogMjUwcHg7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcclxufVxyXG4iLCJAbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcclxuICAubmF2YmFyLWV4cGFuZC1sZyAubmF2YmFyLW5hdiB7XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gIH1cclxufVxyXG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFFQUEsQUFBQSxJQUFJLENBQUM7RUFDSCxXQUFXLEVBQUUsbUJBQW1CO0NBQ2pDOztBQUNELEFBQUEsU0FBUyxDQUFDO0VBQ1IsVUFBVSxFREpFLE9BQU87Q0NLcEI7O0FBQ0QsQUFBQSxZQUFZLENBQUM7RUFDWCxVQUFVLEVBQUUsT0FBMEI7Q0FDdkM7O0FBQ0QsQUFBQSxZQUFZLENBQUM7RUFDWCxVQUFVLEVBQUUsT0FBMEI7Q0FDdkM7O0FBQ0QsQUFBQSxJQUFJLENBQUM7RUFDSCxLQUFLLEVBQUUsQ0FBQztDQUNUOztBQUNELEFBQ0UsS0FERyxDQUNILEVBQUUsQ0FBQztFQUNELFdBQVcsRUFBRSxHQUFHO0NBQ2pCOztBQUhILEFBSUUsS0FKRyxDQUlILE9BQU8sQ0FBQztFQUNOLE9BQU8sRUFBRSxXQUFXO0VBQ3BCLGdCQUFnQixFRHBCRixPQUFPO0VDcUJyQixhQUFhLEVBQUUsSUFBSTtDQUNwQjs7QUFFSCxBQUFBLENBQUMsQUFBQSxXQUFXLEFBQUEsTUFBTTtBQUNsQixDQUFDLEFBQUEsV0FBVyxBQUFBLE1BQU0sQ0FBQztFQUNqQixLQUFLLEVBQU8seUJBQUksQ0FBUSxVQUFVO0NBQ25DOztBQUNELEFBQUEsYUFBYSxDQUFDO0VBQ1osT0FBTyxFQUFFLElBQUk7RUFDYixHQUFHLEVBQUUsTUFBTTtFQUNYLGVBQWUsRUFBRSxhQUFhO0VBQzlCLHFCQUFxQixFQUFFLHNDQUFzQztFQUM3RCxrQkFBa0IsRUFBRSxJQUFJO0NBQ3pCOztBQ25DRCxBQUFBLGdCQUFnQixDQUFDO0VBQ2YsTUFBTSxFQUFFLE9BQU87Q0FFaEI7O0FBQ0QsQUFDRSxXQURTLENBQ1QsY0FBYyxDQUFDO0VBQ2IsUUFBUSxFQUFFLFFBQVE7RUFDbEIsS0FBSyxFQUFFLElBQUk7Q0FDWjs7QUFFSCxBQUNFLFNBRE8sQUFDTixTQUFTLENBQUM7RUFDVCxNQUFNLEVBQUUsMkJBQTJCO0VBQ25DLE1BQU0sRUFBRSxpQkFBaUI7RUFDekIsYUFBYSxFQUFFLElBQUk7Q0FDcEI7O0FBRUgsQUFBQSxLQUFLLENBQUEsQUFBQSxJQUFDLENBQUssUUFBUSxBQUFiLEVBQWU7RUFDbkIsYUFBYSxFQUFFLElBQUk7Q0FDcEI7O0FBQ0QsQUFBQSxZQUFZLENBQUM7RUFDWCxPQUFPLEVBQUUsYUFBYTtFQUN0QixnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLE1BQU0sRUFBRSxpQkFBaUI7RUFDekIsYUFBYSxFQUFFLElBQUk7Q0FJcEI7O0FBUkQsQUFLRSxZQUxVLENBS1YsR0FBRyxDQUFDO0VBQ0YsS0FBSyxFQUFFLEdBQUc7Q0FDWDs7QUMzQkgsQUFDRSxLQURHLENBQ0gsVUFBVSxBQUFBLFdBQVcsQ0FBQztFQUNwQixVQUFVLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0FBQyxvQkFBb0I7Q0FJM0M7O0FBTkgsQUFHSSxLQUhDLENBQ0gsVUFBVSxBQUFBLFdBQVcsQ0FFbkIsQ0FBQyxDQUFDO0VBQ0EsS0FBSyxFQUFFLE9BQU87Q0FDZjs7QUFHTCxBQUFBLE9BQU8sQ0FBQztFQUNOLE1BQU0sRUFBRSxLQUFLO0VBQ2IsZUFBZSxFQUFFLEtBQUs7RUFDdEIsaUJBQWlCLEVBQUUsU0FBUztFQUM1QixtQkFBbUIsRUFBRSxNQUFNO0NBQzVCOztBQ2JELE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUFBLGlCQUFpQixDQUFDLFdBQVcsQ0FBQztJQUM1QixXQUFXLEVBQUUsTUFBTTtHQUNwQiJ9 */
