body {
  font-family: "Inter", sans-serif;
}
.bg-brand {
  background: $color-brand;
}
.bg-brand-45 {
  background: lighten($color-brand, 45%);
}
.bg-brand-40 {
  background: lighten($color-brand, 40%);
}
.r-0 {
  right: 0;
}
.hero {
  h1 {
    font-weight: 800;
  }
  .btn-lg {
    padding: 0.5rem 2rem;
    background-color: $color-secondary;
    border-radius: 2rem;
  }
}
a.text-light:focus,
a.text-light:hover {
  color: rgba(#fff, 0.75) !important;
}
