.card {
  .card-body:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    a {
      color: inherit;
    }
  }
}
.bg-img {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
